DB_PORT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNCHRONIZE=

PORT=
DB_TYPE=
DB_SSL= # ejemplo: false
JWT_SECRET=
JWT_EXPIRATION_ACCESS= # ejemplo: 60s
JWT_EXPIRATION_REFRESH= # ejemplo: 7d
PUNTO_VENTA_ACTIVO_ID= # ejemplo: 2
